<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Thống Kê Đơn Hàng <small></small></h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        
      <div class="col-md-12 col-sm-12 col-xs-12">
        
        <div class="x_panel">
          <%= render 'partials/management/notification' %>
          <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label col-md-6" for="first-name">Trạng Thái
                    </label>
                    <div class="col-md-12 col-sm-9 col-xs-12">
                      <select id="cbxStatus" class="form-control">
                        <option id=0>TT Đơn</option>
                        <% @orderStatus.each do |f| %>
                            <option id=<%= f.id %>> <%= f.name %></option>
                        <% end %>
                      </select>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <label class="control-label col-md-6" for="first-name">Từ Ngày
                    </label>
                    <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="single_cal2" placeholder="First Name" aria-describedby="inputSuccess2Status2">
                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                        <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <label class="control-label col-md-6" for="first-name">Đến Ngày
                    </label>
                    <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="single_cal3" placeholder="First Name" aria-describedby="inputSuccess2Status2">
                        <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                        <span id="inputSuccess2Status3" class="sr-only">(success)</span>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <label class="control-label col-md-6" for="first-name">Người Giao
                    </label>
                    <div class="col-md-12 col-sm-9 col-xs-12">
                      <select id="cbxShipper" class="form-control">
                        <option id=0>NV Giao Hàng</option>
                        <% @users.each do |f| %>
                            <option id=<%= f.id %>> <%= f.profile.full_name %></option>
                        <% end %>
                      </select>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <label class="control-label col-md-6" for="first-name">Khách Hàng
                    </label>
                    <div class="col-md-12 col-sm-9 col-xs-12">
                      <select id="cbxSender" class="form-control">
                        <option id=0>Tên Khách</option>
                        <% @customer.each do |f| %>
                            <option id=<%= f.id %>> <%= f.profile.full_name %></option>
                        <% end %>
                      </select>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <button type="button" id="btnSearching" class="btn btn-info">Tìm Kiếm</button>
                </div>
            </div>
          </form>
          <% unless @totalCod.nil? %>
              <% tCod = "Tổng COD: " + comma_numbers(@totalCod).to_s %>
              <% tCod << " VND" %>
              <button type="button" class="btn btn-success pull-right"><%= tCod %></button>
          <% end %>
          <% unless @totalFee.nil? %>
              <% tFee = "Tổng Tiền ship: " + comma_numbers(@totalFee).to_s %>
              <% tFee << " VND" %>
              <button type="button" class="btn btn-danger pull-right"><%= tFee %></button>
          <% end %>
          <div class="x_content">
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th>
                      <input type="checkbox" id="check-all" class="flat">
                    </th>
                    <th class="column-title">Mã</th>
                    <th class="column-title">Từ</th>
                    <th class="column-title">Đến</th>
                    <th class="column-title">Trạng Thái</th>
                    <th class="column-title">Giá</th>
                    <th class="column-title">COD</th>
                    </th>
                    
                  </tr>
                </thead>

                <tbody>
                  <% unless @orders.nil? %>
                      <% @orders.each do |f| %>
                        <tr class="even pointer">
                          <td class="a-center ">
                            <input type="checkbox" class="flat" name="table_records">
                          </td>
                          <td class=" "><%= f.order_code %></td>
                          <td class=" "><%= f.sender.name %></td>
                          <td class=" "><%= f.receiver.address %></td>
                          <td class=" "><b><%= f.order_status.name %></b></td>
                          <td class=" "><%= comma_numbers(f.total) %> VND</td>
                          <td class=" "><%= comma_numbers(f.cod) %> VND</td>
                        </tr>
                      <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

var orderCode = getUrlVars()["orderCode"];
var fromDate = getUrlVars()["fromDate"];
var toDate = getUrlVars()["toDate"];
var shipperId = getUrlVars()["shipperId"];
var senderId = getUrlVars()["senderId"];
var orderStatusId = getUrlVars()["statusId"];

if (orderCode != '' && orderCode != 'undefined') {
    $('#txtOrderCode').val(orderCode);
}

if (fromDate != '') {
     $('#single_cal2').val(fromDate);
}

if (toDate != '') {
     $('#single_cal3').val(toDate);
}

if (shipperId != 0 || shipperId != null) {
    $('#cbxShipper option:selected')[0];
    $('#cbxShipper option[id="'+shipperId+'"').attr("selected",true);
}

if (orderStatusId != 0 || orderStatusId != null) {
  $('#cbxStatus option:selected')[0];
  $('#cbxStatus option[id="'+orderStatusId+'"').attr("selected", true);
}

if (senderId != 0 || senderId != null) {
  $('#cbxSender option:selected')[0];
  $('#cbxSender option[id="'+senderId+'"').attr("selected", true);
}

$('#btnSearching').click(function(e) {
    
    var orderCode = $('#txtOrderCode').val();
    var fromDate = $('#single_cal2').val();
    var toDate = $('#single_cal3').val();
    var shipper = $('#cbxShipper option:selected')[0].id;
    var sender = $('#cbxSender option:selected')[0].id;
    var orderStatus = $('#cbxStatus option:selected')[0].id;
    
    window.location.href = "/management/order_analyzes?orderStatusId="+orderStatus+"&fromDate="+fromDate+"&toDate="+toDate+"&shipperId="+shipper+"&senderId="+sender;
});

// Read a page's GET URL variables and return them as an associative array.
function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

</script>