<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Quản lý Người dùng<small></small></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <%= form_for [:management, @user], :html => {:class => 'form-horizontal form-label-left'} do |f| %>
              </p>
              <span class="section">Thêm mới Người dùng</span>
               <%= f.hidden_field :id, id: 'user_id' %>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :name, class:'form-control col-md-7 col-xs-12', 'data-validate-left-range' =>'6', 'data-validate-words' =>'1', placeholder:'', 'required' => 'required' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :email, class:'form-control col-md-7 col-xs-12', required: 'require' %>
                </div>
              </div>
              <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="role"><%= t("laluna.label.role") %> <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.select :role_id, Role.where(delete_flag: 0).all.collect {|x| [x.name, x.id]},{:include_blank => t("laluna.label.select_role")}, class:'form-control' %>
                  </div>
              </div>
              <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="role">Kiểu Người Dùng <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.select :customer_type_id, CustomerType.where(delete_flag: 0).all.collect {|x| [x.name, x.id]},{:include_blank => "-- Kiểu Người Dùng --"}, class:'form-control' %>
                  </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Số Điện thoại <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :phone, class:'form-control col-md-7 col-xs-12', 'data-validate-left-range' =>'1', 'data-validate-words' =>'1', placeholder:'', 'required' => 'required' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">API Token
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :token, class:'form-control col-md-7 col-xs-12', 'data-validate-left-range' =>'1', id: 'token', 'data-validate-words' =>'1', placeholder:'', 'disabled' => 'disabled'  %>
                </div>
                <button type="button" class="btn btn-info" id="btnRefreshToken" data-target=".bs-example-modal-sm">Refresh Token</button>
                <button type="button" class="btn btn-info" id="btnLoadingRefresh" style="display: none;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Refresh Token ...</button>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                  <%= link_to "Hủy", new_management_role_path, class:'btn btn-primary' %>
                  <%= f.submit "OK", class:'btn btn-success' %>
                </div>
              </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
   $("#btnRefreshToken").on("click", function(e) {
     var userId = document.getElementById('user_id').value;
     $('#btnLoadingRefresh').show();
     $('#btnRefreshToken').hide();
    
     $.ajax({
        type: "POST",
        url: "/management/users/refreshToken",
        data: {id: userId},
        success: function(returnValue){
              $('#token').val(returnValue.resultData.token);
              $('#btnLoadingRefresh').hide();
              $('#btnRefreshToken').show();
          },
          error: function(request,error) {
              alert('An error occurred attempting to get new e-number');
              $('#btnLoadingRefresh').hide();
              $('#btnRefreshToken').show();
              // console.log(request, error);
          }
     });
     
     
     
     
   });
</script