<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Lịch Sử Đơn Hàng <small></small></h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        
        <div class="x_panel">
          <%= render 'partials/management/notification' %>
          
            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                <div class="form-group">
                    <label class="control-label col-md-1 col-sm-3 col-xs-12" for="first-name">Mã đơn hàng
                    </label>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <input type="text" id="txtOrderId" placeholder="Nhập mã đơn hàng để tìm kiếm" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                    <div class="col-md-4">
                        <button type="button" id="btnGetByOrderId" class="btn btn-info">Tìm Kiếm</button>
                    </div>
                </div>
            </form>
            
          <div class="x_content">
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th>
                      <input type="checkbox" id="check-all" class="flat">
                    </th>
                    <th class="column-title">Mã</th>
                    <th class="column-title">Trạng Thái</th>
                    <th class="column-title">Nội Dung</th>
                    <th class="column-title">Người Cập Nhật</th>
                    <th class="column-title">Ngày Cập Nhật</th>
                    </th>
                    
                  </tr>
                </thead>

                <tbody>
                  <% unless @orders.nil? %>
                      <% @orders.each do |f| %>
                        <tr class="even pointer">
                          <td class="a-center ">
                            <input type="checkbox" class="flat" name="table_records">
                          </td>
                          <td class=" "><%= Order.find(f.order_id).order_code %></td>
                          <td class=" "><%= OrderStatus.find(f.action.to_i).name %></td>
                          <td class=" "><%= f.content %></td>
                          <td class=" "><b><%= f.created_by %></b></td>
                          <td class=" "><%= f.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
                        </tr>
                      <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade bs-example-modal-sm" tabindex="-1" id="confirmModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Cân Đẩu Vân Express - Cập Nhật Trạng Thái</h4>
                </div>
                <input type="hidden" id="orderId">
                <div class="modal-body">
                  <h4>Đơn hàng: <label id="confirmOrderId"></label></h4>
                  <p><label class="control-label col-md-3 col-sm-3 col-xs-12">Trạng Thái</label></p>
                  <p><select id="cbxStatus" class="form-control">
                    <option>- Chọn Trạng Thái -</option>
                    <option value="1">Mới Tạo</option>
                    <option value="2">Xác Nhận</option>
                    <option value="3">Đang Lấy Hàng</option>
                    <option value="4">Đã Lấy Hàng</option>
                    <option value="5">Đang Giao Hàng</option>
                    <option value="6">Chờ Giao Lại</option>
                    <option value="7">Giao Hàng Thành Công</option>
                    <option value="8">Chờ Trả Hàng</option>
                    <option value="9">Đang Trả Hàng</option>
                    <option value="10">Chờ Thanh Toán</option>
                    <option value="11">Hoàn Tất</option>
                    <option value="12">Huỷ</option>
                  </select></p>
                  <p id="pShipperTitle" hidden="true"><label class="control-label col-md-3 col-sm-3 col-xs-12">Người Giao</label></p>
                  <p id="pShipperValue" hidden="true"><select id="cbxShipper" class="form-control">
                  </select></p>
                  <p><label class="control-label col-md-3 col-sm-3 col-xs-12">Nội Dung</label></p>
                  <textarea type="text" id="confirmOrderReason" name="confirmReason" class="form-control" rows="3"> </textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" id="btnConfirmation" class="btn btn-success">Duyệt</button>
                  <button type="button" class="btn btn-info">Không Duyệt</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Tắt</button>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>

<script>

var currentUrl = document.URL;
var myParam = currentUrl.split('orderId=')[1]

if (myParam != '') {
    $('#txtOrderId').val(myParam);
}

var e = $.Event( "keypress", { which: 13 } );

$("#txtOrderId").keyup(function(event){
    if(event.keyCode == 13){
        $("#btnGetByOrderId").click();
    }
});

$('#btnGetByOrderId').click(function(e) {
   var orderId =  $('#txtOrderId').val()
   
   if (orderId === '') {
      alert('Vui lòng nhập Mã Đơn Hàng');
   } else {
      window.location.href = '/management/order_histories?orderId='+orderId;
   }
});

</script>