<div class="account-popup-sec">            
    <div class="account-popup-area">
        <div class="account-popup">
            <div class="row">
                <div class="col-md-6">
                    <div class="account-user">
                        <div class="logo">
                            <a href="#" title="">
                                <i class="fa fa-get-pocket"></i>
                                <span>Cân Đẩu Vân</span>
                                <strong>10 vạn 8000 dặm</strong>
                            </a>
                        </div><!-- LOGO -->
                        <%= form_tag session_index_path, :method => :post do %>  
                            <h1>Đăng Nhập</h1>
                            <div class="field">
                                <%= text_field_tag 'name', nil, placeholder: 'Số điện thoại / Địa chỉ email' %>
                            </div>
                            <div class="field">
                                <%= password_field_tag 'password', nil, placeholder: 'Mật Khẩu' %>
                            </div>
                            <div class="field">
                                <%= submit_tag("Đăng Nhập", :id=>"btnLogin", :class=>"flat-btn", :name=>"btnLogin") %>
                            </div>
                        <% end %>
                        <i>Hoặc</i>
                        <span>Đăng Nhập bằng</span>
                        <ul class="social-btns">
                            <li><a title=""><i class="fa fa-facebook"></i></a></li>
                            <li><a title=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a title=""><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="registration-sec">
                        <h1>ĐĂNG KÝ</h1>
                        <form>
                            <div class="field">
                                <input type="text" placeholder="Tên của bạn" />
                            </div>
                            <div class="field">
                                <input type="text" placeholder="Số điện thoại" />
                            </div>                                   
                            <div class="field">
                                <input type="text" placeholder="Địa chỉ Email" />
                            </div>
                            <div class="field">
                                <input type="password" placeholder="Mật khẩu" />
                            </div>
                            <div class="field">
                                <input type="text" placeholder="Địa chỉ nhận hàng (Số nhà Tên đường, Quận - Huyện, Thành Phố)" />
                            </div>
                            <input type="submit" value="Đăng Ký Ngay" class="flat-btn" />
                        </form>
                    </div><!-- Registration sec -->
                </div>
            </div>
            <span class="close-popup"><i class="fa fa-close"></i></span>
        </div>
    </div>
</div><!-- Account Popup Sec -->