<footer id="footer">
	<div class="container">
		<div class="row text-center">
			<div class="footer-content">
				<div class="wow animated fadeInDown">
					<p>Nhận những thông tin mới nhất</p>
					<p>Tại Cân Đẩu Vân Express</p>
				</div>
				<form class="subscribe-form wow animated fadeInUp">
					<div class="input-field">
						<input type="email" class="subscribe form-control" placeholder="Email của bạn...">
						<button type="submit" class="submit-icon">
							<i class="fa fa-paper-plane fa-lg"></i>
						</button>
					</div>
				</form>
				<div class="footer-social">
					<ul>
						<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
						<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-3x"></i></a></li>
						<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-skype fa-3x"></i></a></li>
						<li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="#"><i class="fa fa-dribbble fa-3x"></i></a></li>
						<li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="#"><i class="fa fa-youtube fa-3x"></i></a></li>
					</ul>
				</div>
				
				<p>Copyright &copy; 2017 By<a href="http://www.candauvan.vn"> Cân Đẩu Vân</a> </p>
			</div>
		</div>
	</div>
</footer>