<!-- Fixed Navigation
==================================== -->
<header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
    <div class="container">
        <div class="navbar-header">
            <!-- responsive nav button -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
            </button>
			<!-- /responsive nav button -->
			
			<!-- logo -->
			<h1 class="navbar-brand">
				<a href="#body">Cân Đẩu Vân Express</a>
			</h1>
			<!-- /logo -->
        </div>

		<!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
            <ul id="nav" class="nav navbar-nav">
                <li><a href="#body">Home</a></li>
                <li><a href="#service">Quy Trình</a></li>
                <li><a href="#portfolio">Tính Năng</a></li>
                <li><a href="#price">Biểu Phí</a></li>
                <li><a href="#contact">Kiểm Tra Đơn Hàng</a></li>
            </ul>
        </nav>
		<!-- /main nav -->
    </div>
</header>
<!-- End Fixed Navigation
==================================== -->