<main class="site-content" role="main">
		
    <!-- Home Slider
    ==================================== -->
	
	<section id="home-slider">
        <div id="slider" class="sl-slider-wrapper">

			<div class="sl-slider">
			
				<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">

					<div class="bg-img bg-img-1"></div>

					<div class="slide-caption">
                        <div class="caption-content">
                            <!-- <h2 class="animated fadeInDown">BLUE Onepage HTML5 Template</h2>
                            <span class="animated fadeInDown">Clean and Professional one page Template</span>
                            <a href="#" class="btn btn-blue btn-effect">Join US</a> -->
                        </div>
                    </div>
				</div>
				
				<!--<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">-->
				
				<!--	<div class="bg-img bg-img-2"></div>-->
				<!--	<div class="slide-caption">-->
    <!--                    <div class="caption-content">-->
    <!--                        <h2>BLUE Onepage HTML5 Template</h2>-->
    <!--                        <span>Clean and Professional one page Template</span>-->
    <!--                        <a href="#" class="btn btn-blue btn-effect">Join US</a>-->
    <!--                    </div>-->
    <!--                </div>-->
					
				<!--</div>-->
				
				<!--<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">-->
					
				<!--	<div class="bg-img bg-img-3"></div>-->
				<!--	<div class="slide-caption">-->
    <!--                    <div class="caption-content">-->
    <!--                        <h2>BLUE Onepage HTML5 Template</h2>-->
    <!--                        <span>Clean and Professional one page Template</span>-->
    <!--                        <a href="#" class="btn btn-blue btn-effect">Join US</a>-->
    <!--                    </div>-->
    <!--                </div>-->

				<!--</div>-->

			</div><!-- /sl-slider -->

            <!-- 
            <nav id="nav-arrows" class="nav-arrows">
                <span class="nav-arrow-prev">Previous</span>
                <span class="nav-arrow-next">Next</span>
            </nav>
            -->
            
            <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                <a href="javascript:;" class="sl-prev">
                    <i class="fa fa-angle-left fa-3x"></i>
                </a>
                <a href="javascript:;" class="sl-next">
                    <i class="fa fa-angle-right fa-3x"></i>
                </a>
            </nav>
            

			<nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
				<span class="nav-dot-current"></span>
				<span></span>
				<span></span>
			</nav>

		</div><!-- /slider-wrapper -->
	</section>
	
    <!--
    End Home SliderEnd
    ==================================== -->
		
	<!-- about section -->
	<section id="about" >
		<div class="container">
			<div class="row">
				<div class="col-md-4 wow animated fadeInLeft">
					<div class="recent-works">
						<h3>Tham gia cùng Chúng Tôi</h3>
						<div id="works">
							<div class="work-item">
								<label>ĐĂNG KÝ</label>
								<!--<%= form_tag management_dang_ky_path, :method => :post do %>-->
								<form>
									<div class="input-field">
										<%= text_field_tag 'email', nil, class: 'form-control', placeholder: 'Email' %>
									</div>
									<div class="input-field">
										<%= text_field_tag 'phone', nil, class: 'form-control', placeholder: 'Số Điện Thoại' %>
									</div>
									<div class="input-field">
										<%= password_field_tag 'password', nil, class: 'form-control', placeholder: 'Mật Khẩu' %>
									</div>											
							       	<%= submit_tag("OK", :id=>"submit", :class=>"btn btn-border btn-effect btnForm", :name=>"btnRegister") %>
								<!--<% end %>-->
								</form>
							</div>
							<div class="work-item">
								<label>ĐĂNG NHẬP</label>
								<%= form_tag session_index_path, :method => :post do %>
									<div class="input-field">
										<%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Email / Số Điện Thoại' %>
									</div>											
									<div class="input-field">
										 <%= password_field_tag 'password', nil, class: 'form-control', placeholder: 'Mật Khẩu' %>
									</div>											
							       	<%= submit_tag("OK", :id=>"submit", :class=>"btn btn-border btn-effect btnForm", :name=>"btnLogin") %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
					<div class="welcome-block">
						<h3>Về Cân Đẩu Vân Express</h3>								
				     	 <div class="message-body">
							<%= image_tag("member3.png", :class => "pull-left", :alt => "member") %>
				       		<p>Cân Đẩu Vân Express cung cấp loại hình dịch vụ giao hàng UY TÍN - NHANH - CHUYÊN NGHIỆP và thu tiền hộ cho khách hàng. Cân Đẩu Vân Express ra đời, nhằm giải quyết nút thắt cuối trong Thương Mại Điện Tử. Thay vì những nơi khác, CDV Express tập trung hoàn toàn vào khu vực Đà Nẵng, Miền Trung và Tây Nguyên. Nơi mà các dịch vụ về giao hàng còn đang bỏ ngỏ. Với một đội ngũ Trẻ Trung - Năng Động - Nhiệt Huyết, cùng với sự góp sức của Hệ Thống Quản Lý bằng công nghệ. CDV Express tự tin, sẽ mang lại cho quý khách hàng, những trải nghiệm, cũng như sự tin cậy cao nhất.</p>
				     	 </div>
				       	<!--<a href="#" class="btn btn-border btn-effect pull-right">Read More</a>-->
				    </div>
				</div>
			</div>
		</div>
	</section>
	<!-- end about section -->
	
	
	<!-- Service section -->
	<section id="service">
		<div class="container">
			<div class="row">
			
				<div class="sec-title text-center">
					<h2 class="wow animated bounceInLeft">Quy Trình Hoạt Động</h2>
					<p class="wow animated bounceInRight">Quy trình của một đơn hàng từ lúc do khách hàng tạo đến lúc chuyển hàng</p>
				</div>
				
				<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
					<div class="service-item">
						<div class="service-icon">
							<i class="fa fa-archive fa-3x"></i>
						</div>
						<h3>Tiếp Nhận Đơn Hàng</h3>
						<p>Quý khách vui lòng Đăng Nhập vào hệ thống, để tạo đơn hàng mới. </p>
					</div>
				</div>
			
				<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
					<div class="service-item">
						<div class="service-icon">
							<i class="fa fa-road fa-3x"></i>
						</div>
						<h3>Lấy Hàng</h3>
						<p>Nhân viên của CDV sẽ tiến hàng Lấy Hàng đối với những đơn hàng Hợp Lệ. </p>
					</div>
				</div>
			
				<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
					<div class="service-item">
						<div class="service-icon">
							<i class="fa fa-motorcycle fa-3x"></i>
						</div>
						<h3>Giao Hàng</h3>
						<p>Nhân viên của CDV sẽ tiến hành giao hàng cho khách và Thu Tiền Hộ trực tiếp (COD). </p>
					</div>
				</div>
			
				<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
					<div class="service-item">
						<div class="service-icon">
							<i class="fa fa-check fa-3x"></i>
						</div>
						
						<h3>Kết Thúc</h3>
						<p>Sau khi giao hàng Thành Công, giao dịch của 2 bên đã Hoàn Thành. </p>							
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- end Service section -->
	
	<!-- portfolio section -->
	<section id="portfolio">
		<div class="container">
			<div class="row">
			
				<div class="sec-title text-center wow animated fadeInDown">
					<h2>NHỮNG TÍNH NĂNG CỦA CDV EXPRESS</h2>
					<p>Những dịch vụ, tính năng mà Cân Đẩu Vân Express cam kết sẽ mang đến cho người dùng.</p>
				</div>
				

				<ul class="project-wrapper wow animated fadeInUp">
					<li class="portfolio-item">
						<%= image_tag("portfolio/nhanhangtannoi.png", :class => "img-responsive", :alt => "Nhân viên của Cân Đẩu Vân Express sẽ luôn có mặt để nhận hàng tại nơi mà quý khách yêu cầu.") %>
						<figcaption class="mask">
							<h3>Nhận Hàng Tận Nơi</h3>
							<p>Dịch vụ Nhận Hàng Tận Nơi tại CDV Express. </p>
						</figcaption>
						<ul class="external">
							<li>
							    <a class="fancybox" title="Nhận Hàng Tận Nơi" data-fancybox-group="works" href="/assets/portfolio/nhanhangtannoi-d1cdbf4ba0f0d109c7d425c2b90f4b85e6b41375e4abff3e89dc01d8c4c37393.png"><i class="fa fa-search"></i></a>
							</li>
							<li><a href=""><i class="fa fa-link"></i></a></li>
						</ul>
					</li>
					
					<li class="portfolio-item">
						<%= image_tag("portfolio/cod.png", :class => "img-responsive", :alt => "Dịch vụ Giao Hàng và Thu tiền hộ của CDV Express sẽ giúp gia tăng cơ hội bán hàng cho người bán, tạo niềm tin cho người mua.") %>
						<figcaption class="mask">
							<h3>Thu Tiền Hộ (COD)</h3>
							<p>Dịch vụ Thu Tiên Hộ (COD) tại CDV Express</p>
						</figcaption>
						<ul class="external">
							<li>
							    <a class="fancybox" title="Nhận Hàng Tận Nơi" data-fancybox-group="works" href="assets/portfolio/cod-d77213a9188b3c97327ac0bcf4848736b4a1c9772d1e341f6154239438d1eee9.png"><i class="fa fa-search"></i></a>
						    </li>
							<li><a href=""><i class="fa fa-link"></i></a></li>
						</ul>
					</li>
					
					<li class="portfolio-item">
						<%= image_tag("portfolio/tinhphi.png", :class => "img-responsive", :alt => "Công cụ tính phí tự động tại CDV Express sẽ giúp quý khách hàng có được những trải nghiệm tốt nhất, đầy đủ các sự lựa chọn.") %>
						<figcaption class="mask">
							<h3>Tính Phí Tự Động</h3>
							<p>Hệ thống Tính Phí Tự Động tại CDV Express. </p>
						</figcaption>
						<ul class="external">
							<li><a class="fancybox" title="Tính Phí Tự Động" data-fancybox-group="works" href="assets/portfolio/tinhphi-eacd82528c516090598333f77fd2c6ed86bdddd6a6b7e53768f5ad55a085d062.png"><i class="fa fa-search"></i></a></li>
							<li><a href=""><i class="fa fa-link"></i></a></li>
						</ul>
					</li>
					
					<li class="portfolio-item">
						<%= image_tag("portfolio/theodoi.png", :class => "img-responsive", :alt => "Dịch vụ kiểm tra đơn hàng, giúp khách hàng có thể kiểm tra trạng thái của đơn hàng mọi lúc, mọi nơi bằng Website, ứng dụng Mobile, Hệ thống trả lời tự động trên Facebook Messenger.") %>
						<figcaption class="mask">
							<h3>Kiểm Tra Đơn Hàng</h3>
							<p>Khách hàng có thể KTĐH mọi lúc, mọi nơi. </p>
						</figcaption>
						<ul class="external">
							<li><a class="fancybox" title="Kiểm Tra Đơn Hàng" data-fancybox-group="works" href="assets/portfolio/theodoi-b6402ac5b5b89b341049b3b05b478704dbf8b7ffb152f08ffabec22053a9ca9b.png"><i class="fa fa-search"></i></a></li>
							<li><a href=""><i class="fa fa-link"></i></a></li>
						</ul>
					</li>
					
					<li class="portfolio-item">
						<%= image_tag("portfolio/gps.png", :class => "img-responsive", :alt => "Theo dõi quá trình vận chuyển hàng hóa của nhân viên giao hàng.") %>
						<figcaption class="mask">
							<h3>GPS Tracking</h3>
							<p>Theo dõi quá trình vận chuyển hàng hóa của nhân viên giao hàng. </p>
						</figcaption>
						<ul class="external">
							<li><a class="fancybox" title="GPS Tracking" data-fancybox-group="works" href="assets/portfolio/gps-207df69fd3fcd076bd32bc47ea71183e0660afe3901c8551ff3f34a8f3d95dee.png"><i class="fa fa-search"></i></a></li>
							<li><a href=""><i class="fa fa-link"></i></a></li>
						</ul>
					</li>
					
					<li class="portfolio-item">
						<%= image_tag("portfolio/hotro.png", :class => "img-responsive", :alt => "Luôn luôn sẳn sàng hỗ trợ quý khách hàng bằng nhiều biện pháp, tính năng.") %>
						<figcaption class="mask">
							<h3>Hệ Thống Hỗ Trợ</h3>
							<p>Luôn luôn sẳn sàng hỗ trợ quý khách hàng. </p>
						</figcaption>
						<ul class="external">
							<li><a class="fancybox" title="Hệ Thống Hỗ Trợ" data-fancybox-group="works" href="assets/portfolio/hotro-62a096d73aa6f46211f4929a04fb3240dc50fca8ed89d82ff512a4f85202798a.png"><i class="fa fa-search"></i></a></li>
							<li><a href=""><i class="fa fa-link"></i></a></li>
						</ul>
					</li>
				</ul>
				
			</div>
		</div>
	</section>
	<!-- end portfolio section -->
	
	<!-- Testimonial section -->
	<!-- <section id="testimonials" class="parallax">
		<div class="overlay">
			<div class="container">
				<div class="row">
				
					<div class="sec-title text-center white wow animated fadeInDown">
						<h2>What people say</h2>
					</div>
					
					<div id="testimonial" class=" wow animated fadeInUp">
						<div class="testimonial-item text-center">
							<img src="img/member-1.jpg" alt="Our Clients">
							<div class="clearfix">
								<span>Katty Flower</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							</div>
						</div>
						<div class="testimonial-item text-center">
							<img src="img/member-1.jpg" alt="Our Clients">
							<div class="clearfix">
								<span>Katty Flower</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							</div>
						</div>
						<div class="testimonial-item text-center">
							<img src="img/member-1.jpg" alt="Our Clients">
							<div class="clearfix">
								<span>Katty Flower</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</section> -->
	<!-- end Testimonial section -->
	
	<!-- Price section -->
	<section id="price">
		<div class="container">
			<div class="row">
			
				<div class="sec-title text-center wow animated fadeInDown">
					<h2>BIỂU PHÍ</h2>
					<p>Mức giá áp dụng cho quá trình thử nghiệm của CDV</p>
				</div>
				
				<div class="col-md-4 wow animated fadeInUp">
					<div class="price-table text-center">
						<span>GIAO THƯỜNG</span>
						<div class="value">
							<span><u>đ</u></span>
							<span>10,000</span><br>
							<span>đơn</span>
						</div>
						<ul>
							<li>Giao trong vòng 4 - 6 giờ</li>
							<li>Giá áp dụng cho 10 km đầu tiên</li>
							<li>mỗi km tiếp theo: 3,000 <u>đ</u></li>
							<li>Giao trước 22h hằng ngày</li>
							<li><a href="#">Tạo Đơn</a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.4s">
					<div class="price-table featured text-center">
						<span>GIAO NHANH</span>
						<div class="value">
							<span><u>đ</u></span>
							<span>20,000</span><br>
							<span>đơn</span>
						</div>
						<ul>
							<li>Giao trong vòng 2 - 4 giờ</li>
							<li>Giá áp dụng cho 10 km đầu tiên</li>
							<li>mỗi km tiếp theo: 4,000 <u>đ</u></li>
							<li>Giao trước 22h hằng ngày</li>
							<li><a href="#">Tạo Đơn</a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.8s">
					<div class="price-table text-center">
						<span>GIAO SIÊU TỐC</span>
						<div class="value">
							<span><u>đ</u></span>
							<span>30,000</span><br>
							<span>đơn</span>
						</div>
						<ul>
							<li>Giao trong vòng 1 - 2 giờ</li>
							<li>Giá áp dụng cho 10 km đầu tiên</li>
							<li>mỗi km tiếp theo: 5,000 <u>đ</u></li>
							<li>Giao trước 22h hằng ngày</li>
							<li><a href="#">Tạo Đơn</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- end Price section -->
	
	<!-- Social section -->
	<section id="social" class="parallax">
		<div class="overlay">
			<div class="container">
				<div class="row">
				
					<div class="sec-title text-center white wow animated fadeInDown">
						<h2>Theo Dõi</h2>
						<p>Hãy cùng kết nối với CDV thông qua những biện pháp bên dưới bạn nhé</p>
					</div>
					
					<ul class="social-button">
						<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-2x"></i></a></li>
						<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
						<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>							
					</ul>
					
				</div>
			</div>
		</div>
	</section>
	<!-- end Social section -->
	
	<!-- Contact section -->
	<section id="contact" >
		<div class="container">
			<div class="row">
				
				<div class="sec-title text-center wow animated fadeInDown">
					<h2>Kiểm Tra Đơn Hàng</h2>
					<p>Vui lòng nhập thông tin đơn hàng</p>
				</div>
				
				
				<div class="col-md-12 contact-form wow animated fadeInLeft">
					
						<div class="input-field">
							<input type="text" name="name" class="form-control" placeholder="Mã Đơn Hàng...">
						</div>								
						<div class="input-field">
							<input type="text" name="subject" class="form-control" placeholder="Email / Số Điện Thoại người Gởi...">
						</div>								
				       	<button class="btn btn-blue btn-effect">Kiểm Tra</button>
					
				</div>
				
				<!-- <div class="col-md-5 wow animated fadeInRight">
					<address class="contact-details">
						<h3>Liên Hệ Với Chúng Tôi</h3>						
						<p><i class="fa fa-pencil"></i>Công ty cổ phần Inc.<span>PO Box 345678</span> <span>Little Lonsdale St, Melbourne </span><span>Australia</span></p><br>
						<p><i class="fa fa-phone"></i>Phone: (415) 124-5678 </p>
						<p><i class="fa fa-envelope"></i>website@yourname.com</p>
					</address>
				</div> -->
	
			</div>
		</div>
	</section>
	<!-- end Contact section -->
	
	<%= render('partials/maps') %>

</main>