<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Quản lý Đơn Hàng<small></small></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <%= render 'partials/management/notification' %>
          <div class="x_content">
            <%= form_for [:management, @order], :html => {:class => 'form-horizontal form-label-left'} do |f| %>
              <%= f.hidden_field :payer, :id => "hidPayer" %>
              </p>
              <span class="section">Thêm Đơn Hàng Mới</span>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Thông Tin Người Gởi
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên người Gởi<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :sender_name, class:'form-control col-md-7 col-xs-12', placeholder:'', id:'sender_name', 'required' => 'required' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Số Điện Thoại<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :sender_phone, class:'form-control col-md-7 col-xs-12', placeholder:'', id:'sender_phone', 'required' => 'required' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Địa Chỉ<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :sender_address, class:'form-control col-md-7 col-xs-12', id:'sender_address', placeholder:'Số nhà - Tên Đường (Thôn, Phường, Xã)', 'required' => 'required' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Quận / Huyện<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :sender_district, class:'form-control col-md-7 col-xs-12', id:'sender_district', placeholder:'Tên Quận / Huyện', 'required' => 'required' %>
                </div>
              </div>
              <div class="divider-dashed"></div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Thông Tin Người Nhận Hàng
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên người Nhận<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :receiver_name, class:'form-control col-md-7 col-xs-12', id:'receiver_name', placeholder:'', 'required' => 'required' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Số Điện Thoại<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :receiver_phone, class:'form-control col-md-7 col-xs-12', id:'receiver_phone', placeholder:'', 'required' => 'required' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Địa Chỉ<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :receiver_address, class:'form-control col-md-7 col-xs-12', id:'receiver_address', placeholder:'Số nhà - Tên Đường (Thôn, Phường, Xã)', 'required' => 'required' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Quận / Huyện<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :receiver_district, class:'form-control col-md-7 col-xs-12', id:'receiver_district', placeholder:'Tên Quận / Huyện', 'required' => 'required' %>
                </div>
              </div>
              <div class="divider-dashed"></div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Thông Tin Món Hàng<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Chiều Cao<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :package_height, class:'form-control col-md-7 col-xs-12', placeholder:'cm', 'required' => 'required' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Chiều Rộng<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :package_width, class:'form-control col-md-7 col-xs-12', placeholder:'cm', 'required' => 'required' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Cân Nặng<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :package_weight, class:'form-control col-md-7 col-xs-12', placeholder:'kg', 'required' => 'required' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Ghi chú
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :package_note, class:'form-control col-md-7 col-xs-12', placeholder:''%>
                </div>
              </div>
              <div class="divider-dashed"></div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Thông Tin Chung<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
              </div>
               <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Kiểu Vận Chuyển<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.select :ship_type_id, ShipType.where(delete_flag: 0).all.collect {|x| [x.name + " ("+ x.description+")", x.id]},{:include_blank => "Chọn kiểu Giao Hàng"}, id:'ship_type_id', class:'form-control' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Mã Khách Hàng
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :customer_code, class:'form-control col-md-7 col-xs-12', id:'cod', placeholder:'vui lòng nhập Mã đơn hàng của KH nếu có.' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">COD
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :cod, class:'form-control col-md-7 col-xs-12', id:'promotion_id', placeholder:'vui lòng nhập COD nếu có - Số được viết liền, không dấu - ví dụ: 10000' %>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for "name">Người Trả Tiền Ship</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div id="gender" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default" id="btnSender" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                      <input type="radio" name="gender" value="male" data-parsley-multiple="gender"> &nbsp; Người Gởi &nbsp;
                    </label>
                    <label class="btn btn-primary active" id="btnReceiver" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                      <input type="radio" name="gender" value="female" data-parsley-multiple="gender"> Người Nhận
                    </label>
                  </div>
                  <label id="lblPayerMsg">&nbsp;&nbsp;Ô màu xanh, là người sẽ trả tiền ship (Mặc định là người nhận)</label>  
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Mã Khuyến Mãi
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :promotion_id, class:'form-control col-md-7 col-xs-12', id:'promotion_id', placeholder:'vui lòng nhập mã khuyến mãi nếu có' %>
                </div>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                  <%= link_to "Hủy", management_orders_path, class:'btn btn-primary' %>
                  <button type="button" class="btn btn-danger" id="btnCaculate" data-target=".bs-example-modal-sm">Tạm Tính</button>
                  <% if flash[:userInfo] %>
                    <%= f.submit "Cập Nhật", class:'btn btn-success' ,disabled:'disabled'%>
                  <% else %>
                    <%= f.submit "Cập Nhật", class:'btn btn-success'%>
                  <% end %>
                </div>
              </div>
              
              <% end %>
          </div>
          <div class="modal fade bs-example-modal-lg" tabindex="-1" id="myModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">BlaBla</h4>
                </div>
                <div class="modal-body">
                  <h4 id="textFromSender">Thông Tin Đơn Hàng</h4>
                  <p>Điểm nhận Hàng: <label id="senderAddress"></label></p>
                  <p>Điểm trả Hàng: <label id="receiverAddress"></label></p>
                  <p>Khoảng Cách: <label id="distance"></label></p>
                  <p>Báo giá: <label id="price"></label></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Tắt</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade bs-example-modal-lg" tabindex="-1" id="myErrorModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Cân Đẩu Vân Express - Thông Báo</h4>
                </div>
                <div class="modal-body">
                  <h4>Lỗi nhập thiếu Thông Tin</h4>
                  <p>Vui lòng nhập đầy đủ các thông tin trước khi Tính toán bạn nhé !!!.</p>
                  <p>Thông tin cần thiết bao gồm: <b>Thông Tin người Gởi</b>, <b>Thông Tin Người Nhận</b>, <b>Thông tin Món Hàng</b>, <b>Kiểu Giao Hàng</b>.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  
  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }
  
  var payer = $('#hidPayer').val();

  if(payer == "Sender") {
    $('#btnSender').attr("class", "btn btn-primary active");
    $('#btnReceiver').attr("class", "btn btn-default");
  } else {
    $('#btnReceiver').attr("class", "btn btn-primary active");
    $('#btnSender').attr("class", "btn btn-default");
  }
  
  $('#btnSender').on('click', function(e) {
    $('#btnSender').attr("class", "btn btn-primary active");
    $('#btnReceiver').attr("class", "btn btn-default");
    $('#hidPayer').val("Sender");
  });
  
  $('#btnReceiver').on('click', function(e) {
    $('#btnReceiver').attr("class", "btn btn-primary active");
    $('#btnSender').attr("class", "btn btn-default");
    $('#hidPayer').val("Receiver");
  });
  
  $('form').submit(function(){
    $('input[type=submit]', this).attr('disabled', 'disabled');
  });

  $("#btnCaculate").on("click", function(e) {
    
    $("#btnCaculate").attr("disabled","disabled");
  
    var sender_address    = document.getElementById("sender_address").value;
    var sender_district   = document.getElementById("sender_district").value;
    var receiver_address  = document.getElementById("receiver_address").value;
    var receiver_district = document.getElementById("receiver_district").value;
    var ship_type_id      = document.getElementById("ship_type_id").value;
    
    if(sender_address != '' && sender_district != '' && receiver_address != '' && receiver_district != '' && ship_type_id != '') {
    
      $.ajax({
            type: "POST",
            url: "/management/orders/caculatingOrder",
            data: {sender_address: sender_address, sender_district: sender_district, receiver_address: receiver_address, receiver_district: receiver_district, ship_type_id: ship_type_id},
            success: function(returnValue){
                  console.log(returnValue);
                  document.getElementById("myModalLabel").innerText = "Cân Đẩu Vân Express";
                  
                  
                  
                  $('#senderAddress').text(sender_address+" - "+sender_district + " - TP Đà Nẵng");
                  $('#receiverAddress').text(receiver_address+" - "+receiver_district + " - TP Đà Nẵng");
                  $('#distance').text(returnValue.resultData.distanceText);
                  $('#price').text(numberWithCommas(returnValue.resultData.totalPrice) + " đ")
                  
                  $('#myModal').modal('show');
                  $("#btnCaculate").removeAttr("disabled");
  
              },
              error: function(request,error) {
                  alert('An error occurred attempting to get new e-number');
                  $("#btnCaculate").removeAttr("disabled");
                  // console.log(request, error);
              }
      });
      
    } else {
      $("#myErrorModal").modal('show');
      $("#btnCaculate").removeAttr("disabled");
    }
  });
</script>