<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Quản lý Đơn Hàng<small></small></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <%= render 'partials/management/notification' %>
          <div class="x_content">
                    <p>Vui lòng kéo file dữ liệu vào khu vực này, để tiến hành tải thông tin đơn hàng lên hệ thống.</p>
                    <form id="uploadForm" action="import" class="dropzone"></form>
                    <br />
                    <br />
                    <br />
                    <br />
          </div>
        </div>
      </div>
    </div>
 </div>
</div>
<script>
     $("#uploadForm").bind('ajax:complete', function() {
         // tasks to do 
        alert("done");
     });
</script>