<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Quản lý Đơn Hàng <small></small></h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" id="txtSearchOrder" class="form-control" value='<%=@searchData %>' placeholder="Số ĐT, Địa Chỉ đơn hàng">
            <span class="input-group-btn">
              <!--<button class="btn btn-default" type="button">Go!</button>-->
              <button type="button" id="btnSearchOrder" class="btn btn-default">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        
        <div class="x_panel">
          <%= render 'partials/management/notification' %>
          
          
          <%= link_to "Thêm mới", new_management_order_path, class: "btn btn-success pull-right" %>
          <% unless is_member? %>
          <%= link_to "Thêm Cho Người Dùng", management_addForCustomerView_path, class: "btn btn-primary pull-right" %>
          <% end %>
          <%= link_to "Thêm Hàng Loạt", management_importView_path, class: "btn btn-info pull-right" %>
          <div class="x_content">
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th>
                      <input type="checkbox" id="check-all" class="flat">
                    </th>
                    <th class="column-title">Mã CDV </th>
                    <th class="column-title">Mã Khách </th>
                    <th class="column-title">Từ</th>
                    <th class="column-title">Đến</th>
                    <th class="column-title">Trạng Thái</th>
                    <th class="column-title">Người Trả</th>
                    <th class="column-title">Đơn giá</th>
                    <th class="column-title">COD</th>
                    <th class="column-title no-link last"><span class="nobr">Actions</span>
                    </th>
                    
                  </tr>
                </thead>

                <tbody>
                  <% @orders.each do |f| %>
                    <tr class="even pointer">
                      <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                      </td>
                      <td class=" "><%= link_to(f.order_code,management_order_path(f)) %></td>
                      <td class=" "><%= f.customer_code.nil? ? "" : f.customer_code.strip %></td>
                      <td class=" "><%= f.sender.nil? ? "Lỗi Không có tên người Gởi" : f.sender.name %></td>
                      <td class=" ">
                        <% if f.receiver.nil? %>
                          Lỗi, Không có tên người gởi
                        <% else %>
                          <%= f.receiver.address %>
                        <% end %>
                      </td>
                      <td class=" "><b><%= f.order_status.nil? ? "Lỗi, Không có trạng thái đơn hàng" : f.order_status.name %></b></td>
                      <td class=" "><%= f.payer == "Sender" ? "Người Gởi" : "Người Nhận" %></td>
                      <td class=" "><%= f.total.nil? ? "Lỗi, không có total" : comma_numbers(f.total) %> VND</td>
                      <td class=" "><%= f.cod.nil? ? "Lỗi, không có COD" : comma_numbers(f.cod.to_i) %> VND</td>
                      <td class=" ">
                        <% if f.order_status_id < 5 && isOwner?(f.created_by) %>
                          <%= link_to "Cập Nhật", edit_management_order_path(f), class:'btn btn-primary' %>
                        <% end %>
                        <% if f.order_status_id < 11 %>
                          <% unless is_member? %>
                            <button type="button" class="btn btn-success" onclick="openPopup(<%= f.id %>, <%= f.order_code %>)" id="btnConfirm" data-target=".bs-example-modal-sm">Duyệt Đơn</button>
                          <% end %>
                        <% end %>
                        <% if f.order_status_id < 3 && isOwner?(f.created_by) %>
                          <%= link_to "Xóa", management_order_path(f), class:'btn btn-danger', method: :delete, data: {confirm: "Bạn có muốn xóa Đơn hàng này ???"} %>
                        <% end %>
                      </td>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade bs-example-modal-sm" tabindex="-1" id="confirmModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Cân Đẩu Vân Express - Cập Nhật Trạng Thái</h4>
                </div>
                <input type="hidden" id="orderId">
                <div class="modal-body">
                  <h4>Đơn hàng: <label id="confirmOrderId"></label></h4>
                  <p><label class="control-label col-md-3 col-sm-3 col-xs-12">Trạng Thái</label></p>
                  <p><select id="cbxStatus" class="form-control">
                    <option>- Chọn Trạng Thái -</option>
                    <option value="1">Mới Tạo</option>
                    <option value="2">Xác Nhận</option>
                    <option value="3">Đang Lấy Hàng</option>
                    <option value="4">Đã Lấy Hàng</option>
                    <option value="5">Đang Giao Hàng</option>
                    <option value="6">Chờ Giao Lại</option>
                    <option value="7">Giao Hàng Thành Công</option>
                    <option value="8">Chờ Trả Hàng</option>
                    <option value="9">Đang Trả Hàng</option>
                    <option value="10">Chờ Thanh Toán</option>
                    <option value="11">Hoàn Tất</option>
                    <option value="12">Huỷ</option>
                  </select></p>
                  <p id="pShipperTitle" hidden="true"><label class="control-label col-md-3 col-sm-3 col-xs-12">Người Giao</label></p>
                  <p id="pShipperValue" hidden="true"><select id="cbxShipper" class="form-control">
                  </select></p>
                  <p><label class="control-label col-md-3 col-sm-3 col-xs-12">Nội Dung</label></p>
                  <textarea type="text" id="confirmOrderReason" name="confirmReason" class="form-control" rows="3"> </textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" id="btnConfirmation" class="btn btn-success">Duyệt</button>
                  <button type="button" class="btn btn-info">Không Duyệt</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Tắt</button>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>

<script>
var listShipper = null;
var selectedId = 0;
var shipperId = 0;

// if (myParam != '') {
//   $('#txtSearchOrder').val(myParam);
// }

function openPopup(id, orderId) {
    //alert("Hello World "+id);
    getListShipper();
    $('#confirmModal').modal('show');
    $('#confirmOrderId').text(orderId);
    $('#orderId').attr("name", id);
}

function getListShipper() {
  $.ajax({
    type: "POST",
    url: "/management/users/getListShipper",
    success: function(returnValue){
          listShipper = returnValue.resultData.listShipper;
      },
      error: function(request,error) {
          alert('An error occurred attempting to get new e-number');
      }
  });
}

var e = $.Event( "keypress", { which: 13 } );

$("#txtSearchOrder").keyup(function(event){
    if(event.keyCode == 13){
        $("#btnSearchOrder").click();
    }
});


$('#btnSearchOrder').click(function(e) {
  console.log($('#txtSearchOrder').val());
  var searchData = $('#txtSearchOrder').val()
   
   
   var lastData = '<%= @searchData %>';
   
   if (lastData == '' && searchData == '') {
      alert('Vui lòng nhập Thông tin tìm kiếm');
   } else {
       if (searchData == '') {
         window.location.href = '/management/orders';
       } else {
         window.location.href = '/management/orders?searchData='+searchData;   
       }
      
   }
  
});

$('#cbxStatus').change(function(e) {
  selectedId = $('#cbxStatus')[0].selectedOptions[0].value;
  
  if(selectedId == 3 || selectedId == 5 || selectedId == 9) {//đang lấy hàng - đang giao hàng - đang trả hàng
    var cbxShipper = $('#cbxShipper');
    
    cbxShipper
      .find('option')
      .remove()
      .end()
      .append('<option>- Chọn Người Giao Hàng - </option>')
      .val('- Chọn Người Giao Hàng - ')
    ;
    
    for (var i = 0; i < listShipper.length; i++) {
      var option = document.createElement("option");
      option.value = listShipper[i].id;
      option.text = listShipper[i].profile.full_name;
      cbxShipper.append(option);
    }
  
    $('#pShipperTitle').removeAttr("hidden");
    $('#pShipperValue').removeAttr("hidden");
  } else {
    $('#pShipperTitle').attr("hidden","true");
    $('#pShipperValue').attr("hidden","true");
  }
  
});

$('#btnConfirmation').click(function(e) {
  var orderId = $('#orderId')[0].name;
  var content = $('#confirmOrderReason')[0].value;
  
  var currentUser = <%= current_user.id %>
  
  if(selectedId == 3 || selectedId == 5 || selectedId == 9) {//đang lấy hàng - đang giao hàng - đang trả hàng
    shipperId = $('#cbxShipper')[0].selectedOptions[0].value;
  }
  
   $.ajax({
      type: "POST",
      url: "/management/orders/updateOrderStatus",
      data: {orderId: orderId, statusId: selectedId, shipperId: shipperId, content: content, updatedBy: currentUser},
      success: function(returnValue){
            location.reload();
        },
        error: function(request,error) {
            alert('An error occurred attempting to get new e-number');
        }
    });
  
});

</script>