<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Chi tiết đơn hàng <small></small></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <%= render 'partials/management/notification' %>
          <div class="x_content">
              <div class='form-horizontal form-label-left'>
              <span class="section">Đơn Hàng - <%= @order.order_code %> - <%= @order.order_status.name %></span>
              <div class="item form-group">
                <h4><label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Thông Tin Người Gởi
                </label></h4>
                <div class="col-md-6 col-sm-6 col-xs-12">
                
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên người Gởi: 
                </label>
                <label class="control-label">
                    <%= @order.sender.name %>
                </label>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Số Điện Thoại: 
                </label>
                <label class="control-label">
                    <%= @order.sender.phone %>
                </label>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Địa Chỉ: 
                </label>
                <label class="control-label">
                    <%= @order.sender.address %>
                </label>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Quận / Huyện: 
                </label>
                <label class="control-label">
                    <%= @order.sender.district %>
                </label>
              </div>
              <div class="divider-dashed"></div>
              <div class="item form-group">
                <h4><label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Thông Tin Người Nhận Hàng
                </label></h4>
                <div class="col-md-6 col-sm-6 col-xs-12">
                
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên người Nhận: 
                </label>
                <label class="control-label">
                    <%= @order.receiver.name %>
                </label>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Số Điện Thoại: 
                </label>
                <label class="control-label">
                    <%= @order.receiver.phone %>
                </label>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Địa Chỉ: 
                </label>
                <label class="control-label">
                    <%= @order.receiver.address %>
                </label>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Quận / Huyện: 
                </label>
                <label class="control-label">
                    <%= @order.receiver.district %>
                </label>
              </div>
              <div class="divider-dashed"></div>
              <div class="item form-group">
                <h4><label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Thông Tin Món Hàng
                </label></h4>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Chiều Cao: 
                </label>
                <label class="control-label">
                    <%= @order.package.height %> cm
                </label>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Chiều Rộng: 
                </label>
                <label class="control-label">
                    <%= @order.package.width %> cm
                  </label>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Cân Nặng<span class="required">*</span>
                </label>
                <label class="control-label">
                    <%= @order.package.weight %> kg
                  </label>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Ghi chú: 
                </label>
                <label class="control-label">
                    <%= @order.package.note %>
                </label>
              </div>
              <div class="divider-dashed"></div>
              <div class="item form-group">
                <h4><label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Thông Tin Chung
                </label></h4>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Kiểu Vận Chuyển: 
                </label>
                <label class="control-label">
                    <%= @order.ship_type.name %>
                  </label>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Mã Khách Hàng: 
                </label>
                <label class="control-label">
                    <%= @order.customer_code %>
                  </label>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Người Trả Tiền Ship: 
                </label>
                <label class="control-label">
                    <%= @order.payer == "Sender" ? "Người Gời" : "Người Nhận" %>
                  </label>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Mã Khuyến Mãi: 
                </label>
                <label class="control-label">
                    <%= @order.promotion_id != 0 ? @order.promotion.code : '' %>
                  </label>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Đơn giá: 
                </label>
                <label class="control-label">
                    <%= @order.total != 0 ? comma_numbers(@order.total) : '' %>  VND
                  </label>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">COD: 
                </label>
                <label class="control-label">
                    <%= @order.cod != 0 ? comma_numbers(@order.cod.to_i) : '' %> VND
                  </label>
              </div>
              <div class="divider-dashed"></div>
              <div class="item form-group">
                <h4><label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Người Giao Hàng
                </label></h4>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên người giao:
                </label>
                <label class="control-label">
                    <% if @order.shipper_id != 0 %>
                    <%= User.find(@order.shipper_id).profile.full_name %>
                    <% end %>
                </label>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                  <%= link_to "Hủy", management_orders_path, class:'btn btn-primary' %>
                  <button type="button" class="btn btn-success" id="btnHistory" data-target=".bs-example-modal-sm">Lịch Sử Đơn Hàng</button>
                </div>
              </div>
              </div>
          </div>
          <div class="modal fade bs-example-modal-lg" tabindex="-1" id="myModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Lịch Sử Đơn Hàng - <%= @order.order_code %></h4>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled timeline" id="historiesData">
                    </ul>
                </div>
                <!--<div class="modal-footer">-->
                <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Tắt</button>-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <div class="modal fade bs-example-modal-lg" tabindex="-1" id="myErrorModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Cân Đẩu Vân Express - Thông Báo</h4>
                </div>
                <div class="modal-body">
                  <h4>Lỗi nhập thiếu Thông Tin</h4>
                  <p>Vui lòng nhập đầy đủ các thông tin trước khi Tính toán bạn nhé !!!.</p>
                  <p>Thông tin cần thiết bao gồm: <b>Thông Tin người Gởi</b>, <b>Thông Tin Người Nhận</b>, <b>Thông tin Món Hàng</b>, <b>Kiểu Giao Hàng</b>.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  
  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  $('#btnHistory').on('click', function(e) {
    
    $.ajax({
      type: "GET",
      url: "/api/order_histories?order_code="+'<%= @order.order_code %>',
      headers: {
        'Authorization': '<%= current_user.token %>'
      },
      success: function(returnValue) {
        console.log(returnValue);
        if (returnValue.code == 200) {
          var lsData = returnValue.result;
          var html = $('#historiesData')[0];
          html.innerHTML = '';
          
          lsData.forEach(function(item) { 
            
            var li = document.createElement("li");
            var blockDiv = document.createElement("div");
            blockDiv.setAttribute("class", "block");
            var tagsDiv = document.createElement("div");
            tagsDiv.setAttribute("class", "tags");
            var tagsA = document.createElement("a");
            tagsA.setAttribute("class", "tag");
            var span = document.createElement("span");
            span.textContent = item.time.split('\n')[0];
            var br = document.createElement("br");
            span.append(br);
            span.append(item.time.split('\n')[1])
            tagsA.appendChild(span);
            tagsDiv.appendChild(tagsA);
            
            var tagBlock = document.createElement("div");
            tagBlock.setAttribute("class", "block_content");
            var h2 = document.createElement("h2");
            h2.setAttribute("class","title");
            var tagsABlock = document.createElement("a");
            tagsABlock.textContent = item.title;
            h2.appendChild(tagsABlock);
            tagBlock.appendChild(h2);
            
            var byLineBlock = document.createElement("div");
            byLineBlock.setAttribute("class", "byline");
            
            tagBlock.appendChild(byLineBlock);
            
            var pTags = document.createElement("p");
            pTags.setAttribute("class","excerpt");
            pTags.textContent = item.description;
            
            tagBlock.appendChild(pTags);
            blockDiv.appendChild(tagsDiv);
            blockDiv.appendChild(tagBlock)
            
            li.appendChild(blockDiv);
            html.append(li);
          });
          
          $('#myModal').modal('show');      
        }
      }
    });
    
    
    
  });

  $("#btnCaculate").on("click", function(e) {
    
    $("#btnCaculate").attr("disabled","disabled");
  
    var sender_address    = document.getElementById("sender_address").value;
    var sender_district   = document.getElementById("sender_district").value;
    var receiver_address  = document.getElementById("receiver_address").value;
    var receiver_district = document.getElementById("receiver_district").value;
    var ship_type_id      = document.getElementById("ship_type_id").value;
    
    if(sender_address != '' && sender_district != '' && receiver_address != '' && receiver_district != '' && ship_type_id != '') {
    
      $.ajax({
            type: "POST",
            url: "/management/orders/caculatingOrder",
            data: {sender_address: sender_address, sender_district: sender_district, receiver_address: receiver_address, receiver_district: receiver_district, ship_type_id: ship_type_id},
            success: function(returnValue){
                  console.log(returnValue);
                  document.getElementById("myModalLabel").innerText = "Cân Đẩu Vân Express";
                  
                  
                  
                  $('#senderAddress').text(sender_address+" - "+sender_district + " - TP Đà Nẵng");
                  $('#receiverAddress').text(receiver_address+" - "+receiver_district + " - TP Đà Nẵng");
                  $('#distance').text(returnValue.resultData.distanceText);
                  $('#price').text(numberWithCommas(returnValue.resultData.totalPrice) + " đ")
                  
                  $('#myModal').modal('show');
                  $("#btnCaculate").removeAttr("disabled");
  
              },
              error: function(request,error) {
                  alert('An error occurred attempting to get new e-number');
                  $("#btnCaculate").removeAttr("disabled");
                  // console.log(request, error);
              }
      });
      
    } else {
      $("#myErrorModal").modal('show');
      $("#btnCaculate").removeAttr("disabled");
    }
    
    
  });
</script>