<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Thông Tin Cá Nhân</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
        <%= render 'partials/management/notification' %>
          <div class="x_title">
            <h2>Thông Tin <small>Cá nhân</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <!--<li><a href="#">Settings 1</a>-->
                  <!--</li>-->
                  <!--<li><a href="#">Settings 2</a>-->
                  <!--</li>-->
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-2 col-sm-2 col-xs-12 profile_left">
              <div class="profile_img">
                <div id="crop-avatar">
                  <!-- Current avatar -->
                  <%= image_tag("img.jpg", :alt => "Avata", :title => "Change the Avatar", :class => "img-responsive avatar-view") %>
                </div>
              </div>
              <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i> Hình đại diện</a>
              <br />
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">

              <div class="profile_title">
                <div class="col-md-6">
                  <h2>Cập nhật thông tin</h2>
                </div>
                <div class="col-md-6">
                  <!--<div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                  </div>-->
                </div>
              </div>
              <!-- start of user-activity-graph -->
                  <br/>
                <%= form_for [:management, @user],:url => management_update_profile_path, :html => {:class => 'form-horizontal form-label-left'} do |f| %>
                    <% if @user.customer_type_id == 3 || @user.role_id == 1 %>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Token</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <%= f.text_field :token, class:'form-control col-md-7 col-xs-12', required: 'require', disabled: 'disabled' %>
                        </div>
                    </div>
                    <% end %>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Địa chỉ Email</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <%= f.text_field :email, class:'form-control col-md-7 col-xs-12', required: 'require' %>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Số điện thoại</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <%= f.text_field :phone, class:'form-control col-md-7 col-xs-12', required: 'require' %>
                        </div>
                    </div>
                    <%= fields_for @user.profile do |profile_form| %>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên Đầy đủ</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <%= profile_form.text_field :full_name, class:'form-control col-md-7 col-xs-12', placeholder:'Vui lòng nhập Họ Tên đầy đủ', 'required' => 'required' %>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Địa chỉ</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <%= profile_form.text_field :address, class:'form-control col-md-7 col-xs-12', placeholder:'Số nhà, Tên Đường hoặc (Tổ, Thôn, Phường, Xã)', 'required' => 'required' %>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Quận / Huyện</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <%= profile_form.text_field :district, class:'form-control col-md-7 col-xs-12', placeholder:'Tên Quận / Huyện tại TP Đà Nẵng', 'required' => 'required' %>
                            </div>
                        </div>
                    <% end %>
                    
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <%= f.submit "Cập Nhật", class:'btn btn-success' %>
                        </div>
                    </div>
                <% end %>
              <!-- end of user-activity-graph -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>