<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Quản lý Trạng thái Đơn hàng<small></small></h3>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <%= form_for [:management, @order_status], :html => {:class => 'form-horizontal form-label-left'} do |f| %>
                      </p>
                      <span class="section">Thêm Trạng thái</span>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <%= f.text_field :name, class:'form-control col-md-7 col-xs-12', 'data-validate-left-range' =>'5', 'data-validate-words' =>'1', placeholder:'', 'required' => 'required' %>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Mô tả<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <%= f.text_field :description, class:'form-control col-md-7 col-xs-12', required: 'require' %>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <%= link_to "Hủy", new_management_order_status_path, class:'btn btn-primary' %>
                          <%= f.submit "OK", class:'btn btn-success' %>
                        </div>
                      </div>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>