<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset='UTF-8'>
  <meta name="description" content="Cân Đẩu Vân Express - Dịch vụ vận chuyển hàng hóa Uy Tín - Nhanh - Rẻ tại Đà Nẵng">
  <meta name="keywords" content="Cân đẩu vân express, vận chuyển, chuyển hàng, hàng hóa, dịch chuyển, ship hàng nhanh, ship hàng, đặt hàng online, express, giao hàng, giao hàng nhanh, giao hàng tiết kiệm, giao hàng đà nẵng, đà nẵng, chuyển hàng đà nẵng, ship đà nẵng, đà nẵng ship">
  <meta name='subject' content='Cân Đẩu Vân - Express'>
  <meta name='copyright' content='Cân Đẩu Vân - Express'>
  <meta name='language' content='VI'>
  <meta name='robots' content='index,follow'>
  <meta name='Classification' content='Business'>
  <meta name='owner' content=''>
  <meta name='url' content='https://www.candauvan.vn'>
  <meta name='identifier-URL' content='https://www.candauvan.vn'>
  <meta name='directory' content='submission'>
  <link rel="image_src" href="https://www.candauvan.vn/assets/member3-d4ca4196657885288c1304edc768b39fb89a3f2ece5203c8da458e739b7c7d41.png" />
  <title>Cân Đẩu Vân - Nhanh, Gọn, Chuyên Nghiệp</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'homepage', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsemSzAystzZlmzadU4PSnFfvkeSKu26s"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  
  <%= csrf_meta_tags %>
</head>
<body id="body">
    <!-- preloader -->
	<div id="preloader">
        <div class="loder-box">
        	<div class="battery"></div>
        </div>
	</div>
	
	<%= render ('partials/header') %>
	
    <%= yield %>
    
	<%= render('partials/footer') %>
</body>
</html>
